html,
body {
  background: linear-gradient(rgba(47, 49, 49, 0.5), rgba(9, 226, 255, 0.5)),
    url("./img/pexels-photo-165985.jpeg") center center no-repeat;
  height: 100%;
  background-size: cover;
}

@media (max-width: 768px) {
  #logo img {
    width: 50%;
  }

  #logo .main-title {
    margin: 5px 0 0 !important;
    font-size: 1em;
  }

  #counter .countdown {
    font-size: 1.5em !important;
  }
  #icons .fab {
    margin: 10px 0 0 !important;
    font-size: 2em;
  }
}

@media (min-width: 320px) and (max-width: 568px) {
  #logo img {
    width: 40%;
  }
  /* #counter .countdown {
      width: 
  } */
}

#logo img {
  margin: auto;
  padding-top: 20px;
}

.main-title {
  color: #fff;
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
}

#intro .message {
  color: #fff;
  text-align: center;
  font-family: "Lato", sans-serif;

  font-size: 2em;
  letter-spacing: 1px;
  padding-top: 1.8em;
}

.note {
  color: #fff;
  font-size: 15px;
}

#counter .countdown {
  text-align: center;
  padding-top: 1.3em;
  color: rgb(255, 255, 255, 0.8);
  font-family: "Lato", sans-serif;
  font-size: 2.5em;
  margin: -15px 0 0;
}

#icons {
  text-align: center;
}

#icons .fab {
  color: #fff;
  margin: 5px 15px;
  position: relative;
  bottom: 0;
  transition: all 0.2s ease-in-out;
  padding-top: 10px;
  padding-bottom: 10px;
}

#icons .twitter:hover {
  color: #6cadde;
  bottom: 5px;
}

#icons .facebook:hover {
  color: #3b5998;
  bottom: 5px;
}
#icons .google:hover {
  color: #ea4335;
  bottom: 5px;
}

#icons .instagram:hover {
  color: #517fa6;
  bottom: 5px;
}

#donate {
  text-align: center;
  padding-bottom: 20px;
}

#donate .form-inline {
  display: block;
}

#donate .btn {
  background-color: rgba(161, 186, 226, 0.5);
  color: #fff;

  border-radius: 10px;
  font-size: 20px;
}

#donate .btn:hover {
  background-color: rgba(37, 165, 02, 1);
}
